<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Doc</title>
    </head>
    <body>
        <h1>Использование </h1>
        <p>
            http://cut-service.com/fill/300/200/ - endpoint нашего сервиса, в котором 300x200 - это размеры финального
            изображения.
        </p>
        <p>
            www.audubon.org/sites/default/files/a1_1902_16_barred-owl_sandra_rothenberg_kk.jpg - адрес исходного
            изображения; сервис должен скачать его, произвести resize, закэшировать и отдать клиенту.
        </p>
        <p>
            Сервис должен получить URL исходного изображения, скачать его, изменить до необходимых размеров и вернуть
            как  HTTP-ответ.
        </p>
        <a href="/fill/200/300/raw.githubusercontent.com/OtusGolang/final_project/master/examples/image-previewer/_gopher_original_1024x504.jpg">example</a>
    </body>
</html>